﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="SellerMaster.master.cs" Inherits="Shopping.Seller.SellerMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    <asp:UpdatePanel ID="SellerUpdatePanel" runat="server">
    <ContentTemplate>      
    <table align="center" style="border: thin ridge #9900FF; width: 900px;">
     <tr>
      <td align="center">
    <a href="AddBookCategory.aspx"><b>AddBookCatogory</b></a>
    &nbsp;&nbsp;&nbsp;
    <a href="AddBooks.aspx"><b>AddBooks</b></a>
    </td>
    </tr>
    </table>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    
    </ContentTemplate>
    </asp:UpdatePanel>
   
    </form>
</body>
</html>
